*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    background-color: rgb(255, 226, 226);
    border-bottom: solid rgb(168, 37, 37);
    border-radius:0px 0px 20px 20px ;
}
.Setting{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: fit-content;
    
    margin-top: 55px;
    margin-bottom: 50px;
    height: fit-content;
    justify-content: center;
   
    
}

@media (max-width: 280px) {
    
        .Setting{
         font-size: 10px;
        }
    
}

.Links{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}
.link{
    text-decoration: none;
    color:  black;
    width: fit-content;
    height: fit-content;
    padding: 20px;
  
    font-size: 150%;
}
.span{
    margin-left: 50px;
    width: 100%;
    text-align: center;
}

.word{
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    border-radius: 0px 0px 15px 15px;
    border-bottom: 2px solid  rgb(252, 212, 212);
    
}
.word:hover{
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}
.photo{
    border: solid 3px  rgb(132, 20, 20);
    border-radius: 50%;
   width: 80px;
   height: 80px;
   margin: 20px;
   
}
.photos{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
i{
    margin-left: 10px;
    margin-right: 20px;
}
.name{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.names,.phone{
text-decoration: none;
}
.names{
    font-size: 25px;
    color: black;
}
.phone{
    color: rgb(133, 133, 133);
    margin-bottom: 20px;
}
