*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 226, 226);
    border-bottom: solid rgb(168, 37, 37);
    border-radius:0px 0px 20px 20px ;
}
.Setting{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: fit-content;
    position: relative;
    left: 40%;
    margin-top: 55px;
    margin-bottom: 50px;
    height: fit-content;
    justify-content: center;
    box-shadow: 0 0 30px 0 rgb(165, 165, 165);
    
}
@media (max-width: 819px) {
    .Setting{
     left: 30%;
    }
}
@media (max-width: 419px) {
    .Setting{
        left: 21%;
        font-size: 10px;
    }
}
    @media (max-width: 280px) {
        .Setting{
            left: 13%;
            font-size: 10px;
        }
}
.Links{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
}
.link{
    text-decoration: none;
    color:  black;
    width: fit-content;
    height: fit-content;
    padding: 20px;
     
    font-size: 150%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(132, 20, 20);
}
.word{
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.word:hover{
    background-color: rgb(252, 212, 212);
    border-radius: 10px;
}
.photo{
    border: solid 3px  rgb(132, 20, 20);
    border-radius: 50%;
   width: 100px;
   height: 100px;
   margin: 20px;
   
}
.photos{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
i{
    margin-left: 10px;
    margin-right: 20px;
}
